<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
    <link rel="stylesheet" type="text/css" href="../../../../resources/static/css/style.css">
</head>
<body>
<div class="header">Header</div>
<div class="asideL">AsideL</div>
<div class="main">
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="fullName"> Enter full name </label>
    <input  type="text" th:field="*{fullName}" id="fullName"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"> Name error </div>
    <br/>
    <label for="age"> Enter age </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"> Age error </div>
    <br/>
    <label for="email"> Enter email </label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> Email error </div>
    <br/>
    <label for="address">Enter address: </label>
    <input type="text" th:field="*{address}" id="address"/>
    <div style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</div>
    <br/>
    <input type="submit" value="Create!">
</form>
</div>

<div class="asideR">AsideR</div>
<div class="footer">Footer</div>

</body>
</html>