<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show book</title>
    <link rel="stylesheet" type="text/css" href="../../../../resources/static/css/style.css">
</head>
<body>
<div class="header">Header</div>
<div class="asideL">AsideL</div>
<div class="main">

<p th:text="'Book: ' + ${book.getTitle()} + '. ' + ${book.getAuthor()} + '. ' + ${book.getYear()}"></p>
<br/>
<p th:text="'About book: ' + ${book.getTitle()}"></p>
<hr/>
<div th:if="${owner}">
    <span>Book is now with: </span> <span th:text="${owner.getFullName()}">Person name</span>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Release book"/>
    </form>
</div>

<div th:if="${people}">
    <span>This book is free. To whom to assign it?</span>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <label for="person">Select person</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFullName()}">
            </option>
        </select>

        <input type="submit" value="Assign book"/>
    </form>
</div>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Edit book">
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete book">
</form>
</div>

<div class="asideR">AsideR</div>
<div class="footer">Footer</div>

</body>
</html>